body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:  #E8E8E8;
  }
  .container{
   width: 100%;
   margin-top: 80px;
   height: 100%;
 }
 .img{
   width: 40%;
   position: absolute;
   top :10px;
   right: 0px;
   margin : 0;
   padding: 0;
   overflow-y: hidden;
 }
 .votrecompte{
   font-family: Helvetica;
   font-size:24px; 
   text-align: center;
 }
 .formulaire
 {
   width: 70%;
   display: inline-block;
   margin : 0;
   margin-top: 100px;
   padding: 0;
   text-align: center;


 }
 .formulaire form{
   width: 600px;
   margin-right: auto;
   margin-left: auto;
 }
 .formulaire form input[type = "submit"]
 {
 cursor: pointer;
 border-radius: 100px;
 border : 3px solid #EC0433;
 background-color : rgba(0,0,0,0);
 color : #EC0433 ; 
 }
 .formulaire form input {
   width: 300px;
   height: 60px;
   margin: 10px;
   border : 3px solid #242D3C;
   text-align: center;
   background-color: #F8F8F8;
   border-radius: 10px; 
 }