/*
HEADER
*/
.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color:rgba(0,0,0,0);
    position : fixed;
    top: 10;
    margin-top: 175px;
    z-index: 999;
    text-shadow: 1px 1px 9px #777;
} 

.header .header-logo {
    float : left;
    color : white;
    font-family: 'Montserrat', sans-serif;
    margin-left : 30px;
    font-size: 150%;
}

.header .header-menu {
float : right;
margin-right : 30px;

}
.header .header-menu a {    
margin-right : 15px;
color : whitesmoke;


}

.header .header-menu a:hover {  
color: #f1c40f;

}
/*Banner
*/
.banner {
margin-top :-185px;
}

.banner .banner-image{
position : relative;
}

.banner .banner-content{
position : absolute;
width : 100%;
text-align : center;
top : 15%;
}

.banner .banner-content h1{
color : white;
}
.banner .banner-content h2{
    color :white;
    }


/* Colonnes
*/


.about .about-single-element .icon {
font-size : 35px;
text-align : center;
margin-bottom: 35px;
}
.about .about-single-element {
text-align : center;
}

.about .about-single-element .p {
text-align: left;
margin-top: 40px;
margin-left
}


